/* your code here */
.content{
	background-color: rgb(4,7,32);
	color: whitesmoke;
	padding: 10px 25px;
}
.logo_name{
	font-size: 50px;
}
.media-icons a{
	margin: 0.4em;
}
.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img{
	width: 40px;
	height: 40px;
}
.link-boxes{
	display: flex;
	justify-content: space-between;
	margin: 6%;
}
.bottom-details{
	background-color: #3b3b4f;
}
.bottom-details p{
	display: inline-block;
	color: whitesmoke;
	
}
.left{
	text-align: left;
	padding-left: 1.5em;
	width: 70%;
}
.right{
	text-align: right;
	padding-right: 1em;
	width:22%; 
}
li{
list-style: none;
line-height: 1.6em;
	opacity: 0.7;
}
li a{
	opacity: 0.7;
	color: whitesmoke;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}
a:hover{
	color: lightblue;
}
.links-heading{
	font-size: 1.5em;
	margin-bottom: 0.8em;
	opacity: 1;
	color: white;
	text-decoration: underline;
}
